<h1>ASKED</h1>
<form action="/asked/sign_up_process">
  이메일 : <input type="text" name="email">
  이 름 : <input type="text" name="name">
  비밀번호 : <input type="text" name="password"><br>
  <input type="submit">
</form>